body{
    background-image: url(Images/Concluded.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
background-size: cover;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #090909;
    border-bottom: 1px solid  #cdcccc ;
}

.left a {
    text-decoration: none;
    color:#cac4c4;
    font-size: 24px;
}
.left a:hover{
    background-color: #cdcccc;
    color: white;
}

.right {
    display: flex;
}

nav {
    display: flex;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    color:#cac4c4;
    padding: 14px 20px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #cac4c4;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    border-bottom: 1px solid #ddd;
}

.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.homeh{
    padding-top: 25%;
    padding-left: 4%;
    font-size: 50%;
    color:   #cac4c4;
}
.homep{
    font-size: 100%;
    color: #cac4c4;
    padding-left: 4%;
    

   
}
.about{
    padding-top: 5%;
    padding-left: 4%;
    font-size: 60%;
    color:   #cac4c4;
}
.about h3{
    font-size: 36px;
    margin-bottom: 20px;    
}
.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
about h3{
    font-size: 18px;
    line-height: 1.6;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
}


footer .foot{
  
        background-color: #333;
        color: #fff;
        text-align: center;
        padding : 5px ;
        position: below;
        width: 100%;
    
}
